@model ShopManagment.Application.Contracts.Product.EditProduct
@{

}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title">ویرایش محصول : @Model.Name</h4>
</div>
<form asp-page="./Index" asp-page-handler="Edit" method="post" data-ajax="true" data-callback=""
    data-action="Refresh">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <lable asp-for="Name" class="control-lable">نام</lable>
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable asp-for="Name" class="control-lable">کد</lable>
                    <input type="text" class="form-control" asp-for="Code">
                    <span asp-validation-for="Code" class="error"></span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    @* <div class="form-group">
                        <lable asp-for="UnitPrice" class="control-lable">قیمت واحد</lable>
                        <input type="text" class="form-control" asp-for="UnitPrice">
                        <span asp-validation-for="UnitPrice" class="error"></span>
                    </div> *@
                    
                        <div class="form-group">
                            <lable asp-for="CategoryId" class="control-lable">گروه محصول</lable>
                            <select class="form-control" asp-for="CategoryId"
                                asp-items='new SelectList(Model.Categories,"Id","Name")'>
                                <option value="0">گروه محصول</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="error"></span>
                        </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <lable asp-for="Picture" class="control-lable">عکس</lable>
                            <input type="text" class="form-control" asp-for="Picture">
                            <span asp-validation-for="Picture" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <lable asp-for="PictureAlt" class="control-lable">Alt</lable>
                            <input type="text" class="form-control" asp-for="PictureAlt">
                            <span asp-validation-for="PictureAlt" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <lable asp-for="PictureTitle" class="control-lable">عنوان</lable>
                            <input type="text" class="form-control" asp-for="PictureTitle">
                            <span asp-validation-for="PictureTitle" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group m-0">
                            <lable asp-for="ShortDescription" class="control-lable">توضیحات</lable>
                            <textarea asp-for="ShortDescription" class="form-control"
                                onchange="fillField('ShortDescription','MetaDescription')"
                                style="overflow: hidden;word-wrap: break-word;resize: horizontal;height: 104px;"></textarea>
                            <span asp-validation-for="ShortDescription" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group m-0">
                            <lable asp-for="Description" class="control-lable">توضیحات</lable>
                            <textarea asp-for="Description" class="form-control"
                                style="overflow: hidden;word-wrap: break-word;resize: horizontal;height: 104px;"></textarea>
                            <span asp-validation-for="Description" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <lable asp-for="Keywords" class="control-lable">کلمات کلیدی</lable>
                            <input type="text" class="form-control" asp-for="Keywords">
                            <span asp-validation-for="Keywords" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <lable asp-for="Slug" class="control-lable">اسلاگ</lable>
                            <input type="text" class="form-control" asp-for="Slug">
                            <span asp-validation-for="Slug" class="error"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group m-0">
                        <lable asp-for="MetaDescription" class="control-lable">توضیحات متا</lable>
                        <textarea asp-for="MetaDescription" class="form-control"
                            style="overflow: hidden;word-wrap: break-word;resize: horizontal;height: 104px;"></textarea>
                        <span asp-validation-for="MetaDescription" class="error"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="Id" value="@Model.Id">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
            <button class="btn btn-info waves-effect waves-light">ویرایش</button>
        </div>
</form>